
body{
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-black);
}
h1, h2, h3, h4, h5, p, a, div{
    line-height: 1.5em;
}
a{
    text-decoration: none;
    &:hover{
        color: var(--primary);
    }
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

