footer {
    background-color: #0f172a;
    background-image: url(../img/footer.webp);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    @media (min-width: 992px) {
        background-position: top;
        background-size: 100%;
    }
    .social-connection {
        a{
            width: 40px;
            height: 40px;
            border-radius: 160px;
            background: rgb(20 20 20 / 47%);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white);
            &:hover{
                opacity: 0.6;
                cursor: pointer;
            }

        }
    }
    .footer-menu{
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
            padding: 48px 0px;
            @media (min-width: 992px) {
                gap: 24px;
                padding:0px;
                flex-direction: row;
            }
            li{
                a{
                    font-size: 16px;
                    color: var(--white);
                }
            }
        }
    }
}

.copy-right{
    padding: 38px 0px;
    border-top: 1px solid rgba(217 217 217 / 17%);
    a{
        color: var(--white);
        font-weight: 400;
    }
}